root = true

[*]
indent_size = 2
indent_style = space

charset = utf-8
end_of_line = lf
insert_final_newline = true

[lua]
quote_style = single

[*.{c,cxx,cpp,h}]
trim_trailing_whitespace = true
insert_final_newline = true